<%= render "application/menu" %>

<h1>Parks#index</h1>
<p>Find a Park, pick a park.</p>

<%= search_form_for @q do |f| %>
# Search if the Park Name contains...
  <%= f.label :park_name_cont %>
  <%= f.search_field :park_name_cont %>
<%= f.submit %>
<%end%>

<ul>
<%@parkQ.each do |park|%>
  <%if park.park_id != nil%>
  <li>
      <%= link_to park.park_name, park %>
      
    </li>
    <%end%>
<%end%>
</ul>

<div>
<%= paginate @parkQ %>
    </div>