<%= render "application/menu" %>

<h1><%= @parks.park_name %></h1>
<h2>...is a <%= @parks.park_category.park_category %></h2>
<br>
<p>Located around <%= @parks.park_description %> in the neighbourhood of <%= @parks.park_neighbourhood%></p>
<p>Consisting of <%= @parks.total_area*10000 %> square meters</p>

<p><%=@parks.assets.count %></p>

<h3>Park Assets</h3>

<% if @assets.where(park_id: @parks.park_id).count > 0%>
    <ul>
    <% @assets.each do |asset|%>
        <% if asset.park_id == @parks.park_id%>
        
            <li>
                <%= link_to asset.asset_class, asset%> 
                <%if asset.asset_type != 'N/A'%><br> (<%=asset.asset_type%>) <%end%>
                <%if asset.asset_size != 'N/A'%>
                <br> Size: <%=asset.asset_size%>
                <%end%>
             </li>      
        <%end%>
    <%end%>

    </ul>
<%else%>
    <ul>
        <li>No assets found for this park!</li>
    </ul>
<%end %>