<%= render "application/menu" %>

<h1><%= @parks.park_name %></h1>
<h2>...is a <%= @parks.park_category.park_category %></h2>
<br>
<p>Located around <%= @parks.park_description %> in the neighbourhood of <%= @parks.park_neighbourhood%></p>
<p>Consisting of <%= @parks.total_area*10000 %> square meters</p>

<h3>Park Assets</h3>
<% if @parks.assets.any?%>
    <ul>
        <% @parks.assets.each do |asset| %>
            <li>
                <%=asset.asset_category.asset_class%> (<%=asset.asset_type%>) 
                <%if asset.asset_size != nil%>
                    <ul>
                        <li>
                            Size: <%=asset.asset_size%>
                        </li>
                    </ul>
                <%end%>
             </li>
             <br>            
        <%end %>
    <ul>
<%else%>
    <ul>
        <li>No assets found for this park!</li>
    </ul>
<%end %>