<%= render "application/menu" %>

<h2>Park Assets</h2>
<div>List of Assets across all Parks in Winnipeg, MB.</div>

<div>
There are <%=@assets.count%> assets across <%=@assetCategories.count%> types of assets in the <%=@parks.count%> parks in Winnipeg, MB.
</div>


<%= search_form_for @q do |f| %>
# Search if the Type of Asset contains...
  <%= f.label :asset_class_cont %>
  <%= f.search_field :asset_class_cont %>
<%= f.submit %>
<%end%>


<ul>
    <%@assetQ.each do |asset|%>
        <li>
            <%= link_to asset.asset_class, asset%> from <%=@parks.where(park_id: asset.park_id).first.park_name%> 
        </li>
    <%end%>
</ul>

<div>
    <%= paginate @assetQ %>
</div>