<%= render "application/menu" %>

<h2>Park Asset Categories</h2>
<div>List of the various categories for the assets present in the parks within Winnipeg, MB.</div>
<div>
There are <%=@assets.count%> assets across <%=@assetCategories.count%> types of assets in the <%=@parks.count%> parks in Winnipeg, MB.
</div>



<ul>
    <%@assetCategories.each do |category|%>
        <li>
            <%= link_to category.asset_class, category%>   <%= category.assets.count%> 
        </li>
    <%end%>
</ul>