<%= render "application/menu" %>

<h2>Park Assets</h2>
<p>List of Asset Categories</p>

<div>
There are <%=@assets.count%> assets across <%=@assetCategories.count%> types of assets in the <%=@parks.count%> parks in Winnipeg, MB.
</div>



<ul>
    <%@assetCategories.each do |category|%>
        <li>
            <%= link_to category.asset_class, category%>   <%= category.assets.count%> 
        </li>
    <%end%>
</ul>