<%= render "application/menu" %>

<h2><%=@assetCategories.asset_class%></h2>


<div>There <%=@assetCategories.assets.size > 1 ? "are" : "is"%>  <%=@assetCategories.assets.size%> <%=@assetCategories.asset_class%><%=@assetCategories.assets.size > 1 ? "S" : ""%> </div>


<ul>
    <%@assets.uniq(&:park_id).each do |asset| %>
        <%park = @parks.where(park_id: asset.park_id)%>
        <%park.each do |pa| %>
            <%parkAssets = @assets.where(park_id: pa.park_id)%>
            <%pluralAssets = parkAssets.size > 1%>
            <%parkAssets.uniq(&:park_id).each do |parkAsset| %>
            <li>
                There <%=pluralAssets ? "are" : "is"%> <%=parkAssets.size%> <%=(parkAsset.asset_category.asset_class).downcase%><%=pluralAssets ? "s" : ""%> within <%= link_to pa.park_name, pa %>
            </li>
            <%end%>
        <%end%>
    <%end%>
</ul>


